.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
    margin-top: 5em;
}

ul.ui.list li:before {
  display: none;
  content: '';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
